// Global Foundation Settings
@import "settings";

@import "normalize";

@import "foundation";

@import "mixins";

@import "prettify";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

$footer-height: 5em;
$main-background-color: #202020;

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: $main-background-color;
}

label {
    font-weight: bold;
}

.page {
    min-height: 100%;
    position: relative;
}

.site-brand {
    margin: 0;
    text-align: left;
    color: #FFF;
    font-weight: 300;
    padding: 40px;
    a {
        color: #FFF;
    }
}

.top-bar {
    background: $main-background-color;
}

// Arrow in topbar.
.top-bar-section .has-dropdown > a:after {
    border-color: $primary-color transparent transparent;
}

.banner {
    @include gradient($primary-color, #008dde);
    height: 200px;
    border-top: 1px solid #49bdff;
}

.main {
    padding-bottom: $footer-height;
}

.sticky {
    background: $main-background-color;
}

ul.breadcrumbs {
    margin: 10px 0 0 0;
    font-size: 18px;
    a {
        &:visited {
            color: #AA1D90;
        }
    }
    li {
        &.current a {
            color: #000;
        }
    }
}

.footer-info {
    background: $main-background-color;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    p {
        color: #4C4C4C;
        text-align: left;
        margin-top: 30px;
        margin-left: 30px;
    }
}

// Makes the textareas a little bigger.
.long-area {
    height: 200px;
}

pre.prettyprint {
    @include crumb-container;
    @include radius(3px);
    padding: 10px;
}

.example {
    background: #E0E0E0;
    height: 100px;
    text-align: center;
    line-height: 100px;
    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;      
    }
}

.rounded-corners {
    @extend .example;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    -o-border-radius: 10px; 
    border-radius: 10px;
}

.drop-shadow {
    @extend .example;
    -moz-box-shadow: 5px 5px 5px #000;
    -webkit-box-shadow: 5px 5px 5px #000;
    -o-box-shadow:  5px 5px 5px #000;
    box-shadow: 5px 5px 5px #000;
}

.text-shadow {
    @extend .example;
    span {
        text-shadow: 2px 2px 2px #000;
    }
}

@media only screen and (max-width: 768px) {
    pre.prettyprint {
        font-size: 12px;
    }
}
